<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>JSP | Tecnologías</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="../css/estilos.css" type="text/css"/>
</head>
<body>
	<header>
	<!-- Navegador-->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-inner">
					<div class="navbar-header">
			     		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navegador" id="button">
			       			<span class="sr-only">Menú</span>
			        		<span class="icon-bar"></span>
			        		<span class="icon-bar"></span>
			        		<span class="icon-bar"></span>
			      		</button>
			      		<a href="../index.html" class="navbar-brand">JSP Soluciones</a>
			        </div>
			        <div class="collapse navbar-collapse" id="navegador" name="navegador">
						<ul class="nav navbar-nav">
							<li><a href="../index.html">Inicio</a></li>
							<li><a href="tecnologia.html">Tecnologías</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="contacto.html">Contacta</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--Banner superior-->
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-xs-8 col-xs-offset-2">
				<img src="../imagenes/banner.png" alt="Banner" class="img-responsive">
			</div>
		</div>
	</div>
	<!--Titulo-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">Tecnologías empleadas</h1><hr/>
			</div>
		</div>
	</div>
	<!--contenido-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<p>
					Para la realización de las aplicaciones Web se utilizan unas serie de tecnologías, estas pueden utilizarse conjuntamente para realizar una Web que se adapte mejor a las necesidades de nuestros clientes.
				</p>
				<p>
					A continuación se muestra algunas de estas tecnologías y una breve descripción de lo que queremos obtener con ellas.
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<!-- HTML5 -->
			<div class="col-sm-6 col-sm-push">
				<div class="row">
					<div class="col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/HTML5_Logo_64.png" alt="Imagen logo html5" class="img-thumbnail center-block">
						<p><span>HTML5 Logo by <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2>HTML5</h2><hr/>
						<p>
							Esta es  la última tecnología que nos ofrece la W3C para la construcción de páginas Web que tanto estáticas como dinámicas. Es compatible con la gran mayoría de los navegadores Web actuales tanto de equipos de escritorios como Smartphone, Tablet y dispositivos móviles.
						</p>
					</div>
				</div>
			</div>
			<!-- CSS3 -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/logo_CSS3_64.png" alt="Imagen logo CSS3" class="img-thumbnail center-block">
						<p><span>CSS3 Logo by <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> CSS3</h2><hr/>
						<p>
							Es la última versión de CSS que nos ofrece la W3C, con la cual podemos dar estilos a nuestras páginas Web, Es compatible con algunos navegadores por eso se suele usar CSS3 junto con CSS2 para suplir estas incompatibilidades aunque próximamente será lo más usado.
						</p>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<!-- JavaScript -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/js1_0.png" alt="Imagen logo JavaScript" class="img-thumbnail center-block">
						<p><span>JavaScript Logo by <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> JavaScript</h2><hr/>
						<p>
							Es una de las tecnologías más usadas para programar en el lado del cliente que nos permite la mejora de la interfaz grafica de usuario de nuestra Web, dandole dinamismo.
						</p>
					</div>
				</div>	
			</div>
			<!-- JQUERY -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/jQuery-Logo.png" alt="Imagen logo JQuery" class="img-thumbnail center-block">
						<p><span>JQuery Logo by <a href="https://jquery.com/"><abbr title="JQuery">JQuery</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> JQUERY</h2><hr/>
						<p>
							Es una biblioteca de JavaScript que nos permite simplificar la manera de interactuar con el HTML, manipular el árbol del DOM y manejar eventos.
						</p>

					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<!-- Bootstrap -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/bootstrap.jpeg" alt="Imagen logo BootStrap" class="img-thumbnail center-block">
						<p><span>BootStrap Logo by <a href="http://getbootstrap.com/"><abbr title="Core Team">Core Team</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> BootStrap</h2><hr/>
						<p>
							Es un framework creado por Twitter que permite crear interfaces web con CSS y JavaScript, cuya particularidad es la de adaptar la interfaz del sitio web al tamaño del dispositivo en que se visualice. Es una forma de implementar rápidamente Responsive Design.
						</p>
					</div>
				</div>	
			</div>
			<!-- CodeIgniter -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/ci-logo.png" alt="Imagen logo codeIgniter" class="img-thumbnail center-block">
						<p><span>CodeIgniter Logo by <a href="http://www.codeigniter.com/"><abbr title="CodeIgniter web FrameWork">Codeigniter</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> CodeIgniter</h2><hr/>
						<p>
							Es un framework para aplicaciones web de código abierto para crear sitios web dinámicos con PHP. Se aplica la filosofía MVC. Nos facilita la creación de la estructura de nuestro proyecto y nos da agilidad a la hora de desarrollar aplicaciones que implemente el patrón MVC.
						</p>
						
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<!-- SQLite -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/sqlite.png" alt="Imagen logo SQLite" class="img-thumbnail center-block">
						<p><span>SQLite Logo by <a href="https://www.sqlite.org/"><abbr title="SQLite">SQLite</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> SQLite</h2><hr/>
						<p>
							Es un sistema de gestión de bases de datos relacional compatible con ACID, contenida en una relativamente pequeña biblioteca escrita en C. Con ella nos permite tener bases de datos relacionales en dispositivos como pueden ser Móviles o smartphone.
						</p>
					</div>
				</div>	
			</div>
			<!-- MySQL -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/powered-by-mysql.jpeg" alt="Imagen logo MySQL" class="img-thumbnail center-block">
						<p><span>MySQL Logo by <a href="https://www.mysql.com/"><abbr title="ORACLE">ORACLE</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> MySQL</h2><hr/>
						<p>
							Es un sitema de gestión de bases de datos relacionales, multihilos y multiusuarios. Actualmente son muy utilizadas en proyectos webs, ya que la gran mayoría de los hosting las tienen instaladas.
						</p>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<!-- JSON -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/JSON.png" alt="Imagen logo JSON" class="img-thumbnail center-block">
						<p><span>JSON Logo by <a href="http://json.org/"><abbr title="JSON">JSON</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> JSON</h2><hr/>
						<p>
							Es un formato ligero para el intercambio de datos. JSON es un subconjunto de la notación literal de objetos de JavaScript.
						</p>
					</div>
				</div>	
			</div>
			<!-- XML -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/logo-xml.png" alt="Imagen logo XML" class="img-thumbnail center-block">
						<p><span>XML Logo by <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> XML</h2><hr/>
						<p>
							Es la última versión de CSS que nos ofrece la W3C, con la cual podemos dar estilos a nuestras páginas Web, Es compatible con algunos navegadores por eso se suele usar CSS3 junto con CSS2 para suplir estas incompatibilidades aunque próximamente será lo más usado.
						</p>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<!-- PHP -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/php.png" alt="Imagen logo PHP" class="img-thumbnail center-block">
						<p><span>PHP Logo by <a href="http://www.apache.org/"><abbr title="Apache">Apache</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> PHP</h2><hr/>
						<p>
							Es un lenguaje de marcas desarrollado por el World Wide Web Consortium (W3C) utilizado para almacenar datos en forma legible.
						</p>
					</div>
				</div>	
			</div>
			<!-- Java -->
			<div class="col-sm-6 col-sm-pull">
				<div class="row">
					<div class="col-xs-4 col-sm-4 hidden-xs">
						<br/><br/><br/>
						<img src="../imagenes/logo-java.jpg" alt="Imagen logo Java" class="img-thumbnail center-block">
						<p><span>Java Logo by <a href="http://www.oracle.com/technetwork/es/java/index.html"><abbr title="ORACLE">ORACLE</abbr></a></span></p>
					</div>
					<div class="col-xs-12 col-sm-8">
						<h2> Java</h2><hr/>
						<p>
							Es uno de los lenguajes de programación multiplataforma más utilizados en la actualidad, sigue el paradigma de la orientación a objetos.
						</p>
					</div>
				</div>	
			</div>

		</div>
	</div>
	<!--Pié de página-->
	<footer class="container-fuid">
		<div class="row">
			<p class="small-12-columns text-center color_footer"><strong>&copy; 2015</strong> www.jspsoluciones.es</p>
		</div>
	</footer>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../css/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>