<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>JSP | Contacto</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="../css/estilos.css" type="text/css"/>
</head>
<body>
	<header>
	<!-- Navegador-->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-inner">
					<div class="navbar-header">
			     		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navegador" id="button">
			       			<span class="sr-only">Menú</span>
			        		<span class="icon-bar"></span>
			        		<span class="icon-bar"></span>
			        		<span class="icon-bar"></span>
			      		</button>
			      		<a href="../index.html" class="navbar-brand">JSP Soluciones</a>
			        </div>
			        <div class="collapse navbar-collapse" id="navegador" name="navegador">
						<ul class="nav navbar-nav">
							<li><a href="../index.html">Inicio</a></li>
							<li><a href="tecnologia.html">Tecnologías</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="contacto.html">Contacta</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--Banner superior-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<img src="../imagenes/banner.png" alt="Banner" class="img-responsive">
			</div>
		</div>
	</div>
	<!--Titulo-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">Contacto</h1><hr/>
			</div>
		</div>
	</div>
	<!--Contenido-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-center">
					Puedes ponerte en contacto conmigo por correo electrónico a traves de la dirección:
				</p>
				<address class="text-center">jesusdeserdio@jspsoluciones.es</address>
			</div>
		</div>
	</div>
	<!--Formulario de contacto-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-lg-offset-2 col-lg-8">
				<form action="../php/enviarmail.php" method="post" class="form-horizotal" role="form">
					<fieldset>
					<legend class="text-center">Contacta ahora</legend>
						<div class="form-group">
							<label for="nombre" class="col-lg-3 control-label">Nombre</label>
							<div class="col-lg-9">
								<input type="text" name="nombre" class="form-control" id="nombre" placeholder="Escriba su nombre"/>
							</div>
						</div>
								
						<div class="form-group">
								<label for="email" class="col-lg-3 control-label">Correo de Contacto</label>
							<div class="col-lg-9">
								<input type="email" name="email" class="form-control" id="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"  placeholder="ejemplo@jspsoluciones.es"/>
							</div>
						</div>
						<div class="form-group">
							<label for="descripcion" class="col-lg-3 control-label">Comentario</label>
							
							<div class="col-lg-9">
								<textarea name="descripcion" class="form-control" id="descripcion" cols="30" rows="10" placeholder="Escriba un comentario"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-3 col-lg-10">
								<input type="submit" name="enviar" id="enviar"  class="btn btn-success" value="Enviar">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>


	<!--Pié de página-->
	<footer class="container-fuid">
		<div class="row">
			<p class="small-12-columns text-center color_footer"><strong>&copy; 2015</strong> www.jspsoluciones.es</p>
		</div>
	</footer>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>